*{
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

button{
    height: 100px;
    width: 160px;
    margin: 50px;
    background-color: #0a0a0a;
    border: 2px solid #0f0;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    color:#0f0;
    font-family: "Bebas Neue", sans-serif;
}

.buttons{
    position:absolute;
    margin-left: 120px; 
    margin-right: 120px;
}

h1{
    color:#0f0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 180px;
    margin-top: -200px;
}

.game-board {
    position: relative;
    width: 40vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    background-color: #0a0a0a;
    border: 2px solid #0f0;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    animation: game-board-entry 1s ease-out;
}

@keyframes game-board-entry {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.track {
    position: relative;
    width: 22%;
    height: 100%;
    background-color: #333;
    overflow: hidden;
}

.target {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 255, 0, 0.758);
    text-align: center;
    line-height: 10%;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    transition: transform 0.2s ease-out, background-color 0.2s;
    overflow: hidden;
    z-index: 2;
    animation: button-entry 0.5s ease-out;
}

.target.active {
    background-color: rgb(0, 255, 0);;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(0, 255, 0);;

}

@keyframes button-entry {
    0% {
        transform: translateY(20px) scale(0.8);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.target::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 255, 0);
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
}

.falling {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #f0f;
    animation: fallAnimation 2s linear forwards;
    z-index: 1;
}

@keyframes fallAnimation {
    from { transform: translateY(-100px); opacity: 1; }
    to { transform: translateY(100vh); opacity: 0; }
}

.hold {
    background-color: #794DFF;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 100%;
    animation: fallHoldAnimation 2s linear forwards; 
    z-index: 1;
}

@keyframes fallHoldAnimation {
    from { transform: translateY(-100px); opacity: 1; }
    to { transform: translateY(100vh); opacity: 0; }
}

#score {
    margin-top: 20px;
    animation: score-entry 1s ease-out;
}

@keyframes score-entry {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

header {
    position: absolute;
    margin-bottom: 850px;
}

.hidden {
    display: none;
}

#scoreBoard{
    position: absolute;
    margin-left: 900px;
    width: 300px;
    font-size: 36px;
    color:#fff;
    font-family: "Bebas Neue", sans-serif;
}
